{
  "trailingComma": "es5",
  "printWidth": 500,
  "tabWidth": 2,
  "arrowParens": "always",
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "importOrder": ["^react", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
